* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #ff9800, #ffa726);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 18rem;
  height: 24rem;
  color: white;
  position: relative;
  perspective: 60rem;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  backface-visibility: hidden;
}

.front {
  background-color: #000000;
}

.back {
  background-color: #000000;
  transform: rotateY(180deg);
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(360deg);
}
